@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Heebo:wght@700&family=Ubuntu&family=Ubuntu+Mono&display=swap");
.rcmenu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #383746;
  border: solid 5px #e5d4e7;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  position: absolute;
}
.rcmenu li {
  padding: 10px;
  padding-right: 75px;
}
.rcmenu li a {
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  color: #e5d4e7;
}
.rcmenu li:hover {
  background-color: #5A2B4D;
}
.rcmenu li.browser {
  background-color: #383746;
}
.rcmenu li.browser:hover {
  background-color: #77739A;
}