@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Heebo:wght@700&family=Ubuntu&family=Ubuntu+Mono&display=swap");
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #383746;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

::-moz-selection {
  background: #EB459E;
  color: #fff;
}

::selection {
  background: #EB459E;
  color: #fff;
}

ul.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  padding-left: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99;
}
ul.navbar .item {
  padding: 10px;
  padding-bottom: 3px;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: solid 3px transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 3px;
}
ul.navbar .item a.navbar-link {
  text-decoration: none;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5em;
}
ul.navbar .item:hover {
  border-bottom: solid 3px #e5d4e7;
  cursor: pointer;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
}
.socials a.social-item {
  font-size: 2em;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.socials a.social-item:hover {
  color: #9B93E8;
  cursor: pointer;
  font-size: 3em;
}

#landingpage {
  background-color: #3a3a4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  color: #e5d4e7;
}
#landingpage .msg {
  margin-left: 30%;
  margin-top: 10%;
}
#landingpage .msg h1 {
  font-family: "Heebo", sans-serif;
  font-size: 5em;
  text-transform: uppercase;
  width: 7ch;
  overflow-wrap: break-word;
  line-height: 1;
  margin-bottom: 0;
}
#landingpage .msg h2 {
  margin-top: 0;
  font-family: "Fira Sans", sans-serif;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#landingpage .msg h2 .discord-tag {
  color: #5865F2;
  font-size: 0.9em;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#landingpage .msg h2 .discord-tag.visible {
  opacity: 1;
}
#landingpage .scrolldown {
  color: white;
  font-size: 3em;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#landingpage .scrolldown a {
  text-decoration: none;
}
#landingpage .scrolldown:hover {
  color: #9B93E8;
  cursor: pointer;
  font-size: 4em;
}

#tools {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#tools .content {
  margin-top: 5%;
  margin-left: 10%;
}
#tools .content h1 {
  font-family: "Heebo", sans-serif;
  font-size: 3em;
  color: #e5d4e7;
  margin-bottom: 0;
  text-transform: uppercase;
}
#tools .content h2 {
  font-family: "Fira Sans", sans-serif;
  margin-top: 0;
  color: #e5d4e7;
  font-size: 1.5em;
}
#tools .content .tool-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 40%;
  padding-left: 0;
  margin-left: 5%;
  position: relative;
}
#tools .content .tool-images li {
  margin: 10px;
  position: relative;
}
#tools .content .tool-images li img {
  width: 150px;
  height: 150px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#tools .content .tool-images li::before {
  content: attr(data-name);
  position: absolute;
  color: #e5d4e7;
  font-family: "Ubuntu";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  z-index: 50;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 1.5em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#tools .content .tool-images li:hover {
  cursor: pointer;
}
#tools .content .tool-images li:hover img {
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
}
#tools .content .tool-images li:hover:before {
  opacity: 1;
}

#projects {
  background-color: #77739A;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  position: relative;
}
#projects .content {
  margin-top: 5%;
  margin-left: 20%;
  width: 40%;
}
#projects .content h1 {
  font-family: "Heebo", sans-serif;
  font-size: 3em;
  color: #383746;
  margin-bottom: 0;
  text-transform: uppercase;
}
#projects .content h2 {
  font-family: "Fira Sans", sans-serif;
  margin-top: 0;
  color: #383746;
  font-size: 1.5em;
}
#projects .content .slider {
  border: solid 3px #383746;
  border-radius: 20px;
  height: 50%;
  width: 90%;
  position: relative;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}
#projects .content .slider .btns {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}
#projects .content .slider .btns i {
  font-size: 3em;
  position: absolute;
  top: 45%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.7;
  z-index: 50;
}
#projects .content .slider .btns i#prev {
  left: 10px;
}
#projects .content .slider .btns i#next {
  right: 10px;
}
#projects .content .slider .btns i.active {
  color: #e5d4e7;
}
#projects .content .slider .btns i.active:hover {
  font-size: 3.5em;
  cursor: pointer;
}
#projects .content .slider .btns i:not(.active) {
  color: rgb(177, 177, 177);
}
#projects .content .slider .btns i:not(.active):hover {
  cursor: not-allowed;
}
#projects .content .slider .item {
  height: 100%;
  width: 100%;
  min-width: 100%;
  border-radius: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#projects .content .slider .item h1 {
  text-transform: none;
}
#projects .content .slider .item img {
  height: 30%;
  width: auto;
}
#projects .content .slider .item.horst {
  background-color: #14213D;
}
#projects .content .slider .item.horst h1 {
  color: #FCA311;
}
#projects .content .slider .item.horst h2, #projects .content .slider .item.horst p {
  color: #E5E5E5;
}
#projects .content .slider .item.cranberry {
  background-color: #8A1F33;
}
#projects .content .slider .item.cranberry h1, #projects .content .slider .item.cranberry h2, #projects .content .slider .item.cranberry p {
  color: white;
}
#projects .content .slider .item.jimbot {
  background-color: snow;
}
#projects .content .slider .item.jimbot h1, #projects .content .slider .item.jimbot h2, #projects .content .slider .item.jimbot p {
  color: #2C2F33;
}

#contact {
  background-color: #5A2B4D;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  position: relative;
}
#contact .content {
  margin-top: 10%;
  margin-left: 20%;
  width: 40%;
}
#contact .content h1 {
  font-family: "Heebo", sans-serif;
  font-size: 3em;
  color: #e5d4e7;
  margin-bottom: 0;
  text-transform: uppercase;
}
#contact .content .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
  padding: 10px;
  padding-bottom: 0;
}
#contact .content .form input, #contact .content .form textarea {
  font-size: 1em;
  font-family: "Ubuntu Mono", monospace;
  padding: 10px;
  margin: 7px;
  border: solid 2px #9B93E8;
}
#contact .content .form input:focus, #contact .content .form textarea:focus {
  outline: none;
}
#contact .content .form textarea {
  resize: none;
  height: 15ch;
}
#contact .content .form button.submit {
  margin: 7px;
  padding: 10px;
  font-size: 1em;
  font-family: "Ubuntu Mono", monospace;
  border: solid 3px #9B93E8;
  background-color: #9B93E8;
  color: #5A2B4D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#contact .content .form button.submit:hover {
  cursor: pointer;
  color: #9B93E8;
  background-color: #5A2B4D;
}
#contact .content .form p.feedback {
  font-family: "Ubuntu Mono";
  font-size: 1em;
  margin-left: 7px;
  margin-top: 0;
  color: white;
}
#contact .content .form p.feedback span.error {
  color: red;
}
#contact .content .form p.feedback span.success {
  color: lightgreen;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.footer .gradient {
  width: 100%;
  height: 100px;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#383746));
  background: linear-gradient(transparent, #383746);
  top: -100px;
  border-bottom: dotted 4px white;
}
.footer .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.footer .text p {
  color: #e5d4e7;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.3em;
  margin: 1%;
}
.footer .text p a {
  text-decoration: underline;
  color: blueviolet;
}