.loaderBg {
  opacity: 0.8;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  overflow: hidden;
}

.loader {
  position: absolute;
  top: 30%;
}

.loader text {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  -webkit-animation-name: dash;
          animation-name: dash;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 500;
  }
  25% {
    stroke-dasharray: 250;
  }
  50% {
    stroke-dashoffset: 0;
  }
  75% {
    stroke-dasharray: 250;
  }
  100% {
    stroke-dasharray: 500;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 500;
  }
  25% {
    stroke-dasharray: 250;
  }
  50% {
    stroke-dashoffset: 0;
  }
  75% {
    stroke-dasharray: 250;
  }
  100% {
    stroke-dasharray: 500;
  }
}