// Imports:
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Heebo:wght@700&family=Ubuntu&family=Ubuntu+Mono&display=swap');

// Color variables:
$base: #383746;
$b2: #3a3a4d;
$b3: #5A2B4D;
$b4: #77739A;
$c1: #9B93E8;
$c2: #e5d4e7;
$highlight: #EB459E;

.rcmenu {
    display: none;
    flex-direction: row;
    align-items: start;
    background-color: $base;
    width: min-content;
    border: solid 3px $c2;
    margin: 0;
    user-select: none;
    position: absolute;
    
    ul {
        list-style: none;
        padding: 0;
        height: auto;
        margin: 0;
        
        li {
            padding: 5px;
        }
        
        &.rc-socials {
        
            .social-item {
                padding-right: 5px;
                padding-bottom: 0;
                font-size: 1.2em;
                
                a {
                    text-decoration: none;
                    color: $c2;
                }
                
                &:hover a {
                    color: $c1;
                }
            }
        }
            
        &.rc-nav {
            font-size: 1.5em;
            border-left: dashed 3px $b4;
            
            .nav-item {
                &:hover {
                    background-color: $b3;
                }
                
                a {
                    text-decoration: none;
                    color: $c2;
                    font-family: 'Ubuntu', sans-serif;
                }
            }
        }
    }
}